/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    
}
/*setting col*/
.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% /12 * 7);
}

.col-8{
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    background-color: pink;
    width: 100%;
}

/*debug*/

.debug .page-header {
    background-color: #a1c8d5;
    padding: 20px;
}

.debug .row {
    padding: 10px;
}

.debug .first-block {
    background-color: blue;
    padding: 20px;
    height: 200px;
}

.debug [class^='col-'] {
	min-height: 100px;
	padding: 10px;
	border: 2px solid cornflowerblue;
	color: white;
	font-weight: 700;
}


